<html xmlns:th="http://www.thymeleaf.org" >
  <head>
  <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}"></link>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <center>
        <h1>Login</h1></center>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <center>
          <form th:action="@{/login}" th:object="${login}" th:method:"POST">
            <input type="text" placeholder="Enter Username" name="" value=""><br>
            <input type="password" placeholder="Enter Password" name="" value=""><br>
            <button type="Submit">Login</button>
          </form>
        </center>
      </div>
    </div>
  </body>
</html>
