<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/style.css}" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1>Success!!</h1>
      </div>
    </div>
    <form>
      <div class="main">
        <div class="container">
          <button formaction="/register">Go to registration page</button>
        </div>
      </div>
    </form>
  </body>
</html>
